<section class="createContainer py-5">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Create an user</h2>

                            <form id="createUserForm" method="post" action="/admin/create">
                                <div class="text-danger">
                                    <span>{{error}}</span>
                                </div>
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form3Example1cg">User Name</label>
                                    <input type="text" name="name" id="name" class="form-control form-control-lg"
                                        required />
                                    
                                </div>

                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form3Example3cg">User Email</label>
                                    <input type="email" name="email" id="email" class="form-control form-control-lg"
                                        required />
                                    
                                </div>

                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form3Example4cg">Password</label>
                                    <input type="password" name="password" id="password"
                                        class="form-control form-control-lg" required />
                                    
                                </div>
                                {{!-- <div>
                                    <span id="message" class="text-danger"></span>
                                </div> --}}

                                <div class="d-flex justify-content-center">
                                    <button type="submit"
                                        class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Create</button>
                                </div>



                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>