<section class="container-fluid home ">
    <div class="content d-flex align-items-center">
        <div class="col-12 col-md-6 m-auto text-white text-center border border-light p-5">
            <h1 class="text-warning ">
                Hi, Jithesh
            </h1>
            <h1 class="text-warning mb-5">
                Welcome To Home Page
            </h1>

            <a type="button" href="/logout" class="btn btn-light btn-block m-auto col-8 col-md-4">Logout</a>

        </div>
    </div>
</section>