.signupContainer{
  min-height: 100vh;
  background-color: darkgreen;
}
.home{
  min-height: 100vh;
  background-color: darkgreen;
}
.home .content{
  min-height: 100vh;
}
.border{
  border-style: dashed!important;
  border-width: 2px!important;
}